/************ 
//--------------------------------
// GENERAL
//-------------------------------
************/
body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color:#414848;
	background:steelblue; 
	font-size: 1em;
	line-height: 1.5em;
	
	padding-top: 80px;
}

h2 {
	font-size: 1,5em;
    line-height: 40px;
	margin: 20px 0;
	text-align: center;
}

.content{
    margin-top: -50px;
}



/************ 
//-------------------------------
// CABECERA
//-------------------------------
************/
#banner{
    width: auto;
    height: 100%;
}


#main-header {
	background:rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	height: 10%;
	
	width: 100%;
	left: 0;
	top: 0;
	position: fixed;
}	
#main-header a {
	color:rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: underline;

}
	
/*
 * Navegación
 */
nav {
	float: right;
    font-size: 16px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 15px;
}
	
nav ul li {
	display: inline-block;
	line-height: 80px;
}
			
nav ul li a {
	display: block;
	padding: 0 10px;
	text-decoration: none;
}
			
nav ul li a:hover {
	background: #cecece;
}
	



/************ 
//------------------------------
// CONTENIDO
//------------------------------
************/
#main-content {
	background:#f3f3f3;
	width: 90%;
	max-width: 850px;
	margin: 20px auto;
    border: 1px solid #fff;
	border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);

}

#main-content header,
#main-content .content {
	padding: 40px;
    width: 90%;
    text-align: justify;
}
	


/************
//-----------------------------
// PIE PÁGINA
//-----------------------------
************/
#main-footer {
	background:rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 20px;
	margin-top: 250px;
}
#main-footer p {
	margin: 0;
}
	
#main-footer a {
	color: white;
}
